*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    background-color: #aaa;
    overflow-y: scroll;
}
header{
    text-align: center;
}


.body-container, .Container, .T-Container,.main-cont{
    background-color: #fff;
    height: 33em;
}
.Container, .T-Container, .main-cont{
    display: none;
}

.form1, .form2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6em;
}
.form3 form div label{
    font-size: 2em;
}
.form3{
    padding-top: 7em;
    text-align: center;
}
.allSelect select{
    width: 20em;
    text-align: center;
    font-size: 1.5em;
}
.fronter{
    outline: none;
    width: 20em;
    font-size: 1.5em;
    text-indent: 1em;
}
.form-group{
    margin-top: 2em;
}
.courses, .Department{
    margin-top: 1em;
}
.courses label{
    font-size: 1.5em;
}
.courses div{
    margin-top: 0.5em;
}

.see{
    padding: 2em;
    margin-left: 18em;
}

input[type="button"]{
    border: none;
    width: 10em;
    height: 3em;
    font-size: 1em;
    border-radius: 7px;
}
/* //FORM 2 */
.FORM-HOLD{
    padding-top: 2em;
}
.tabClass input[type="text"]{
    width: 26em;
    outline: none;
    height: 2.3em;
    text-indent: 1em;
    text-transform: uppercase;
}
.tabClass select, .gradoo{
    text-align: center;
}
.course-hold select{
    text-align: center;
}
.guild h3{
    border-bottom: 1px solid black;
}
.guild p{
    text-align: center;
    margin-top: 1em;
    color: red;
}
.course-hold{
    margin-top: 1em;
}
/* FORM3 */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .inputError{
    border: 1px solid red;
}
@media (max-width: 391px){ 
    input[type="text"],
    input[type="email"],
    input[type="password"],
     button {
    width: 100%;
    }
    /* .form3{
        text-align: left;
        padding-right: 30em;
    } */
    .form3 form div label{
        font-size: 16px;
    }
#nextPage {
  margin-left: 1em;
}
/* form {
    width: 300px;
    margin: 0;
    padding-left: 1em;
    
    } */
    .body-container{
        height: 25em;
    }
    .allSelect,   .courses label{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allSelect select{
        width: 11em;
        text-align: center;
        font-size: 1.5em;
    }
    .courses label{
        font-size: 0.9em;
    }
    .see{
        padding: 2em;
        margin-left: 0;
        text-align: center;
    }
    /* SECOND FORM */
    .course-hold{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .tabClass input[type="text"]{
        width: 8em;
    }
    .guild{
        text-align: center;
    }
    .Container{
        height: 33em;
    }
    .form2{
        padding: 2em;
    }
    .form3 form div label{
        font-size: 1.4em;
    }
}